#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color:rgb(0, 0, 0);
  color: white;
}

.Nav{
  padding: 5rem;
  display: flex;
  justify-content: space-around;
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem;
}

.card-grid > div {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  background-color: #767373;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.Image {
  width: 60%;
}

.buttonCard{
  background-color: black;
}

.footer {
  color: white;
  padding: 2rem;
}