#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #565151;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem;
}

.card-grid > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  background-color: #767373;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.Image {
  width: 60%;
}

.Nav {
  display: flex;
  justify-content: space-around;
  padding: 5rem;
  background-image: url(./public/images/NavBar.png);
  background-size: cover;
}

.favorite-button {
  align-self: center;
  margin-top: 1rem;
  background-color: #0c0a0a;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}
